aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
annotated-types==0.6.0
anyio==4.6.2
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.7
dataclasses-json==0.6.7
distro==1.9.0
docutils==0.21.2
fastapi==0.115.8
filelock==3.17.0
frozenlist==1.5.0
fsspec==2025.2.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.1
idna==3.7
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.5
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.19
langchain-community==0.3.18
langchain-core==0.3.37
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langgraph==0.2.74
langgraph-checkpoint==2.0.16
langgraph-sdk==0.1.53
langsmith==0.3.10
marimo==0.11.8
Markdown==3.7
MarkupSafe==3.0.2
marshmallow==3.26.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
narwhals==1.27.1
networkx==3.4.2
numpy==1.26.4
openai==1.63.2
orjson==3.10.15
packaging==24.2
parso==0.8.4
pillow==11.1.0
pip==25.0
propcache==0.3.0
psutil==7.0.0
pycrdt==0.11.1
pydantic==2.10.6
pydantic_core==2.27.2
pydantic-settings==2.8.0
Pygments==2.19.1
pymdown-extensions==10.14.3
PyPDF2==3.0.1
python-dotenv==1.0.1
python-multipart==0.0.20
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
ruff==0.9.7
safetensors==0.5.2
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.4.1
setuptools==75.8.0
sniffio==1.3.0
SQLAlchemy==2.0.38
starlette==0.45.3
sympy==1.13.3
tenacity==9.0.0
threadpoolctl==3.5.0
tiktoken==0.9.0
tokenizers==0.21.0
tomlkit==0.13.2
torch==2.2.2
tqdm==4.67.1
transformers==4.49.0
typing_extensions==4.12.2
typing-inspect==0.9.0
urllib3==2.3.0
uvicorn==0.32.1
websockets==15.0
wheel==0.45.1
yarl==1.18.3
zstandard==0.23.0
